.headerLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    .headerLink__marvel {
        font-size: 28px;
        color: black;
        font-weight: bold;
            span {
                font-size: 28px;
                color: #9F0013;
                font-weight: bold;
            }
    }
    .headerLink__allChar {
        span {
            font-weight: bold;
        }
        .headerLink__char {
            font-size: 24px;
            color: #9F0013;
            font-weight: bold; 
            cursor: pointer;
        }
        .headerLink__comics {
            font-size: 24px;
            color: black;
            font-weight: bold;
            cursor: pointer;
        }
    }
}